﻿@model object

@{
    ViewBag.Title = "Admin Panel";
    Layout = "_Layout";
}

<div class="card">
    <div class="card-header">
        Ophalen Populaire Films
    </div>
    <div class="card-body">
        <button type="button" id="fetchMovies" class="btn btn-primary" onclick="location.href = '@Url.Action("GetFromTmDb", "Media", new {type = "movie"})';return false;">Ophalen</button>
        <button type="button" id="truncateMovies" class="btn btn-danger" onclick="location.href = '@Url.Action("TruncateMovies", "Media", new {type = "movie"})';return false;">Truncate Films</button>
        <div>
            <span style="color: red;" id="moviesBusy" hidden>Bezig...</span>
        </div>
    </div>
</div>
<br />
<div class="card">
    <div class="card-header">
        Ophalen Populaire Series
    </div>
    <div class="card-body">
        <button type="button" id="fetchSeries" class="btn btn-primary" onclick="location.href = '@Url.Action("GetFromTmDb", "Media", new {type = "series"})';return false;">Ophalen</button>
        <button type="button" id="truncateSeries" class="btn btn-danger" onclick="location.href = '@Url.Action("TruncateSeries", "Media", new {type = "movie"})';return false;">Truncate Series</button>
        <div>
            <span style="color: red;" id="seriesBusy" hidden>Bezig...</span>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(function() {
            $('#fetchSeries, #truncateSeries').click(function() {
                // You can use `this` to refer to the source element, for instance:
                $("#seriesBusy").prop("hidden", false);
            });

            $('#fetchMovies, #truncateMovies').click(function() {
                // You can use `this` to refer to the source element, for instance:
                $("#moviesBusy").prop("hidden", false);
            });
        });
    </script>
}
