﻿@model UserRegistration

@{
    ViewBag.Title = "Create Login";
    Layout = "_Layout";
}

<div class="container">
    @using (Html.BeginForm("CreateLogin", "Account", FormMethod.Post))
    {
        <div class="form-group">
            <div class="col-md-10">
                @* ReSharper disable once Html.IdNotResolved *@
                <label for="userName">UserName</label>
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", id = "userName", placeholder = "Geef Username op" })
                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                @* ReSharper disable once Html.IdNotResolved *@
                <label for="password">Password</label>
                @Html.TextBoxFor(m => m.Password, new { @class = "form-control", id = "password", placeholder = "*****", type = "password" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                @* ReSharper disable once Html.IdNotResolved *@
                <label for="passwordConfirm">Confirm Password</label>
                @Html.TextBoxFor(m => m.PasswordConfirm, new { @class = "form-control", id = "passwordConfirm", placeholder = "*****", type = "password" })
                @Html.ValidationMessageFor(m => m.PasswordConfirm, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <button type="submit" id="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    }

</div>

