﻿@model UserLogin

@{
    ViewData["Title"] = "Login";
}

<div class="container">
    <div class="card">
        <div class="card-body">
            <a href="@Url.Action("CreateLogin")" class="float-right btn btn-outline-primary">Sign up</a>
            <h4 class="card-title mb-4 mt-1">Sign in</h4>
            @using (Html.BeginForm("Login", "Account", FormMethod.Post))
            {
                <div class="form-group">
                    @* ReSharper disable once Html.IdNotResolved *@
                    <label for="userName">Your username</label>
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", id = "password", placeholder = "userName" })
                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @* ReSharper disable once Html.IdNotResolved *@
                    <label for="password">Your password</label>
                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control", id = "password", placeholder = "******", type="password" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Login  </button>
                </div>
            }
        </div>
    </div>
</div>

