﻿@model Media

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@section Styles{
    <link rel="stylesheet" href="~/css/media.css" asp-append-version="true" />
}


<div class="container" style="margin-top:30px">
    <div class="row">
        <div class="col-sm-4">
            <h3>Some Links</h3>
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="@Model.Article.TrailerUrl">YouTube Trailer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Model.Article.ImdbLink">IMDb Link</a>
                </li>
            </ul>
            <hr class="d-sm-none">
        </div>
        <div class="col-sm-8">
            <div class="text-center">
                <h2>@Model.Title</h2>
                <h5>Released, @Model.ReleaseDate.ToShortDateString()</h5>
                <div height="600" width="400">
                    <img src="@Model.Image" alt="Poster">
                </div>
                <br>
                <p>@Model.Article.ArticleText</p>
            </div>
            <br>
            <h2>Trailer</h2>
            <iframe width="700" height="400"src="@Model.Article.TrailerUrl" allowfullscreen></iframe>
        </div>
    </div>
</div>