﻿@model Media

@{
    ViewBag.Title = "Create new entry";
    Layout = "_Layout";
}

<div class="container">
    @using (Html.BeginForm("", "", FormMethod.Post))
    {
        <div class="form-row">
            <div class="form-group col-md-6 offset-md-3">
                <div class="row justify-content-center">
                    <select class="form-control" id="contentList" name="contentList">
                        <option>Selecteer een media type</option>
                        <option>Movie</option>
                        <option>Series</option>
                    </select>
                </div>

            </div>
        </div>

        <div class="form-group"></div>

        <div class="form-group">
            @* ReSharper disable once Html.IdNotResolved *@
            <label for="title">Title</label>
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control", id = "title", placeholder = "Title" })
            @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                @* ReSharper disable once Html.IdNotResolved *@
                <label for="rating">Rating</label>
                @Html.TextBoxFor(m => m.Rating, new { @class = "form-control", id = "rating", placeholder = "Rating" })
                @Html.ValidationMessageFor(m => m.Rating, "", new { @class = "text-danger" })
            </div>
          
            <div class="form-group col-md-6">

                @* ReSharper disable once Html.IdNotResolved *@
                <label for="genres">Genres</label>
                @Html.TextBoxFor(m => m.Genres, new { @class = "form-control", id = "genres", placeholder = "Genres" })
                @Html.ValidationMessageFor(m => m.Genres, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                @* ReSharper disable once Html.IdNotResolved *@
                <label for="image">Image Url</label>
                @Html.TextBoxFor(m => m.Image, new { @class = "form-control", id = "image", placeholder = "Image Url", type = "url" })
                @Html.ValidationMessageFor(m => m.Image, "", new { @class = "text-danger" })
            </div>
          
            <div class="form-group col-md-4">
                @* ReSharper disable once Html.IdNotResolved *@
                <label for="image">YouTube Url</label>
                @Html.TextBoxFor(m => m.Article.TrailerUrl, new { @class = "form-control", id = "image", placeholder = "YouTube Url", type = "url" })
                @Html.ValidationMessageFor(m => m.Article.TrailerUrl, "", new { @class = "text-danger" })
            </div>
            
            <div class="form-group col-md-4">
                @* ReSharper disable once Html.IdNotResolved *@
                <label for="image">IMDb Url</label>
                @Html.TextBoxFor(m => m.Article.ImdbLink, new { @class = "form-control", id = "image", placeholder = "IMDb Url", type = "url" })
                @Html.ValidationMessageFor(m => m.Article.ImdbLink, "", new { @class = "text-danger" })
            </div>
        </div>

   
        <div class="form-group">
            @* ReSharper disable once Html.IdNotResolved *@
            <label for="releaseDate">ReleaseDate</label>
            @Html.TextBoxFor(m => m.ReleaseDate, new { @class = "form-control", id = "releaseDate", placeholder = "ReleaseDate", type = "datetime-local" })
            @Html.ValidationMessageFor(m => m.ReleaseDate, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @* ReSharper disable once Html.IdNotResolved *@
            <label for="article">ReleaseDate</label>
            @Html.TextAreaFor(m => m.Article.ArticleText, new { @class = "form-control", id = "article", placeholder = "Article", rows = "5", Style = "resize: none" })
            @Html.ValidationMessageFor(m => m.Article.ArticleText, "", new { @class = "text-danger" })
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary">Create</button>
            <span class="mr-5"></span>
            <button type="button" class="btn btn-danger" onclick="window.history.back()">Return</button>
        </div>
    }
</div>

@section Scripts
{
    <script>
        $(function() {
            $('#contentList').change(function(event) {
                let selectedValue = $(this).val();
                if (selectedValue === "Movie") {
                    $("form").attr('action', '@Url.Action("CreateNewEntryForMovie", "Media")');
                }
                else if (selectedValue === "Series") {
                    $("form").attr('action', '@Url.Action("CreateNewEntryForSeries", "Media")');
                } else {
                    event.preventDefault();
                }

            });

            $("form").submit(function (e) {
                var currentValue = $('#contentList option:selected').text();

                console.log($("form").prop("action"));

                if (currentValue !== "Movie" && currentValue !== "Series") {
                    e.preventDefault();
                }

            });
        });
    </script>
}
