﻿@model List<Series>

@{
    ViewBag.Title = "Series";
    Layout = "_Layout";
}

@section Styles{
    <link rel="stylesheet" href="~/css/media.css" asp-append-version="true" />
}

<div class="container">
    @for (int i = 0; i < @Model.Count(); i += 4)
    {
        <div class="row mb-5">

            @foreach (var series in @Model.Skip(i).Take(4))
            {
                <div class="col-sm-3">
                    <a href="@Url.Action("Article", "Media", new {id = series.Id, type = "series"}, null)">

                        <div class="text-center">
                            <h5>@series.Title</h5>
                            <div class="poster">
                                <img src="@series.Image" alt="poster" height="42" width="42">
                            </div>
                            <hr class="d-sm-none">
                        </div>
                    </a>

                </div>
            }
        </div>
    }

</div>