﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
    </div>
    <br/>
    <div class="row" style="justify-content: center;">
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="~/images/movie.png" alt="100%x180" style="height: 180px; width: 80%; display: block;" data-holder-rendered="true" >
                <div class="card-body">
                    <h5 class="card-title">Movies</h5>
                    <p class="card-text">View most popular movies.</p>
                    <a href='@Url.Action("Movies", "Media")' class="btn btn-primary">
                        Go to Movies
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="~/images/series.png" alt="100%x180" style="height: 180px; width: 80%; display: block;" data-holder-rendered="true">
                <div class="card-body">
                    <h5 class="card-title">Series</h5>
                    <p class="card-text">View most popular series.</p>
                    <a href='@Url.Action("Series", "Media")' class="btn btn-primary">Go to Series</a>
                </div>
            </div>
        </div>

    </div>
</div>


